//Theme vars

$rem-font-size: 16px;

$layout__content-width: 758px;
$layout__hor-paddings: 24px;
$layout__min-viewport-width: $layout__content-width+($layout__hor-paddings*2);

$default-bg-color: #f5f5f5;

$default-font-family: Arial, sans-serif;
$default-font-size: 12px;
$default-text-color: #555555;

// Header

$header__border-color: #f3f3f3;