@import "../base";

.content {
  grid-area: layout__content;
  
  display: grid;
  grid-template-areas:  "content__image content__image"
                        "content__main content__aside";
  
  grid-template-columns: (478px / $layout__content-width * 100%) (268px / $layout__content-width * 100%); // Setting column sizes in percentages
  
  grid-template-rows: min-content; // Shrink first grid row to content size
  justify-content: space-between; // Gap between main and aside
  
  grid-row-gap: calculateRem(24px);
  
  margin-bottom: calculateRem(12px);
  
  &__item {
    background-color: #FFF;
  
    // Setting text properties
    font-family: "Times New Roman", Times, serif;
    font-size: calculateRem(12px);
    line-height: calculateRem(18px);
    color: #555555;
    
    & h2 {
      font-weight: normal;
      
      font-size: calculateRem(24px);
      line-height: calculateRem(36px);
      margin-bottom: 6px;
    }
    
    & p {
      margin-bottom: 24px;
    }
  }
  
  
  &__image {
    &-container {
      grid-area: content__image;
  
      // fix image position, size and scaling on width change
      display: flex;
      align-items: flex-start;
    }

  }
  
  &__main {
    grid-area: content__main;
  
    padding: calculateRem(24px) calculateRem(16px) calculateRem(24px) calculateRem(30px);
  }
  
  &__aside {
    grid-area: content__aside;
  
    // Setting text properties
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: calculateRem(14px);
    line-height: calculateRem(18px);
    color: #333333;
  
    padding: calculateRem(24px) calculateRem(8px) calculateRem(24px) calculateRem(30px);
  
    & p {
      margin-bottom: 12px;
    }
  }
}

@media all and (max-width:640px) {
  .content {
    grid-area: layout__content;
    
    display: grid;
    grid-template-areas:  "content__image"
                          "content__main"
                          "content__aside";
    
    grid-template-columns: 100%; // Setting column sizes in percentages
    
    grid-template-rows: min-content; // Shrink first grid row to content size
    justify-content: space-between; // Gap between main and aside
    
    grid-row-gap: calculateRem(12px);
    
    margin-bottom: calculateRem(12px);
  }
  
}
